#first:hover {
    border-style:double;
    border-color:red;
    border-width: 10px;
}
#second {
    border-style:dashed;
    border-color: green;
    border-width: 10px;
}
#third {
    outline-style: groove;
    outline-color: blue;
    outline-width:5px;
}
#fourth{
    box-shadow: 0 0 0 6px rgb(210, 25, 235),
                0 0 0 12px blue,
                3px 0 0 12px;              
}
#fifth {
    border-radius:30px;
    border-color:yellow;
    border-width: 3px;
    border: groove;   
}

