#waw {
    border-style:dashed;
    border-color: green;
    border-width: 10pt;
}
#wow {
    border-style:double;
    border-color:red;
    border-width: 10px;
}
#wew {
    border-style:groove;
    border-color: blue;
    border-width:5px;
}
#wyw {
    border-style:dotted ;
    border-color:blueviolet;
    border-width:7px;
}
#wuw {
    border-style:ridge;
    border-color:yellow;
    border-width: 8px;
}