#cool {
    background-color: #00FF12;
    color: black;
    font-size: 100%;
    font-family:'Mali', cursive;;
}
body {
    background-image:  url(https://avatanplus.com/files/resources/original/578721c7d9cee155e7dbf4d4.jpg)
}
