body {
    background: url(https://s1.1zoom.ru/big0/827/384495-svetik.jpg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT';
    color: antiquewhite;
    font-size: larger;  
    display: flex;
    justify-content: center;
}
form {
    background: black;
    opacity: 0.7;
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;    
}
.inputBox  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
input {
    width: 90%;
    height: 20%;
    border-radius: 20px;  
    font-size: larger; 
}
.input-text {
    position: absolute;
    color: black;
    margin-left: 15px;  
    transition: 0.5s;
}
input:focus ~ .input-text
 {
    top: -20px;
    color: rgb(20, 103, 228);
    font-weight: bold; 
}